@using LMSEarlyBird.ViewModels
@model CourseAssignmentsStudentViewModel

@{
    ViewData["Title"] = "Course";
}

<h1>@Model.Course.CourseName</h1> 

<h2>Assignments</h2>
@if (Model.Assignments.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Assignments[0].Assignment.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Assignments[0].Assignment.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Assignments[0].Assignment.DueDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Assignments[0].Assignment.Type)
                </th>   
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Assignments)
            {
                <tr>
                    <td>
                        @item.Assignment.Title
                    </td>
                    <td>
                        @item.Assignment.Description
                    </td>
                    <td>
                        @item.Assignment.DueDate
                    </td>
                    <td>
                        @item.Assignment.Type
                    </td>
                    <td>
                        @if(!item.Submitted){
                            <a style="min-width: 6.5em;" href="@Url.Action("Submission", "Student" , new { assignmentId = item.Assignment.Id })" class="btn btn-primary" style="color: #fff;">
                                Submit
                            </a>
                        }
                        else{
                            <a href="@Url.Action("Submission", "Student" , new { assignmentId = item.Assignment.Id })" style="min-width: 6.5em;" class="btn btn-outline-success">Submitted</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
} else
{
	<p>No Course Assignments</p>
}