@using LMSEarlyBird.ViewModels
@model CourseAssignmentListViewModel

@{
    ViewData["Title"] = "Course";
}

<h1>@Model.Course.CourseName</h1> 

<h2>Assignments</h2>
@if (Model.Assignments.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Assignments[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Assignments[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Assignments[0].DueDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Assignments[0].Type)
                </th>   
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Assignments)
            {
                <tr>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.DueDate
                    </td>
                    <td>
                        @item.Type
                    </td>
                    <td>
                        <a href="@Url.Action("Submission", "Student" , new { assignmentId = item.Id })" class="btn btn-primary" style="min-width: 6em; color: #fff;">
                            Submit
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
} else
{
	<p>No Course Assignments</p>
}