@using LMSEarlyBird.ViewModels
@model SubmissionViewModel

@{
    ViewData["Title"] = "Submission";
}

<h1 style="color: #007bff;">@Model.Title</h1>
<hr/>
    <div style="display: flex; align-items: baseline; font-weight: bold">
        <p style="font-size: larger; margin-right: 1em;">Due Date: @Model.DueDate</p>
        @if(Model.Graded){
            <p style="font-size: larger;">Graded: @Model.Score / @Model.MaxPoints</p>
        }
        else{
            <p style="font-size: larger;">Not Graded / @Model.MaxPoints</p>
        }  
    </div>
<hr/>
    <div style="display: block; font-weight: bold">
        @if(Model.Submitted){
            <p>
            Submission Date: @Model.SubmissionDate
                @if(Model.Late){
                    <span class="btn btn-outline-danger">LATE</span>
                }
            </p>

            @if(Model.Type != "text"){
                <table>
                <tbody>
                    <tr>
                        <td class="pr-3">Submitted File: @Model.FileName</td>
                        <td><a href="@Url.Action("DownloadAssignment", "Instructor", new {
                            studentId = @Model.StudentId,
                            courseId = @Model.CourseId,
                            assignmentId = @Model.AssignmentId,
                            fileName = @Model.FileName})" class="text-primary">Download</a></td>
                    </tr>
                </tbody>
                </table>
            }
            else{
                <input class="form-control" type="text" value="@Model.SubmissionTxt" readonly />
            }
            
            <hr/>
        }
        else{
            <p style="font-size: larger; margin-right: 1em;">
                Not Submitted
            </p>
        }
    </div>
<p style="font-size: x-large;">@Model.Description</p>

<form asp-action="Submission" asp-controller="Student" method="post" enctype="multipart/form-data">
    <input type="hidden" name="assignmentId" value="@Model.AssignmentId" />
    
    @if (Model.Type == "text")
    {
        <textarea asp-for="SubmissionTxt" class="form-control" style="height: 200px;">@Model.SubmissionTxt</textarea>
        <span asp-validation-for="SubmissionTxt" class="text-danger"></span>
    }
    else if (Model.Type == "file")
    {
        <input asp-for="File" type="file" class="form-control" />
        <span asp-validation-for="File" class="text-danger"></span>
    }

    @if(!Model.Submitted){
        <button type="submit" class="btn btn-primary" style="margin: 1em;">Submit</button>
    }
    else{
        <button type="submit" class="btn btn-outline-success" style="margin: 1em;">Resubmit</button>
    }
    
</form>

