@model LMSEarlyBird.Models.AppUser
@{
    ViewData["Title"] = "Dashboard";
    //DateTime myDate = new DateTime();
    DateTime localDate = DateTime.Now;

    // order by due date
    Model.StudentAssignment = Model.StudentAssignment.OrderBy(x => x.Assignment.DueDate).ToList();

    // used to count upcoming assignments
    int counter = 0;
}


<div class="text-center bottomborder">
    <h1 class="display-4">
        Welcome @Model.FirstName
        @Model.LastName
    </h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-8 sideborderright">
            <div class="row">
                <h3 class="text-center"> Classes </h3>
                @if (User.IsInRole(LMSEarlyBird.Data.UserRoles.Student))
                {
                    @foreach (var course in Model.StudentCourses)
                    {
                        <div class="card col-10 col-xl-5 border LeftMargin my-3 px-0">
                            <a class="card-block stretched-link text-decoration-none" asp-controller="Student" asp-action="Course" asp-route-courseId="@course.Course.id">
                                <div class="card-header text-black">
                                    <h2>
                                        @course.Course.Department.DeptCode
                                        @course.Course.CourseNumber
                                    </h2>
                                    <h4>
                                        @course.Course.CourseName
                                    </h4>
                                </div>
                                <div class="card-body text-black">
                                    <p>
                                        @course.Course.InstructorCourses[0].User.FirstName
                                        @course.Course.InstructorCourses[0].User.LastName
                                    </p>
                                    <p>
                                        @course.Course.Room.Building.BuildingName
                                        @course.Course.Room.RoomNumber
                                    </p>
                                    <p>
                                        @course.Course.DaysOfWeek
                                        @course.Course.StartTime
                                        @course.Course.EndTime
                                    </p>
                                </div>
                            </a>
                        </div>
                    }
                }
                else if (User.IsInRole(LMSEarlyBird.Data.UserRoles.Teacher))
                {
                    @foreach (var course in Model.InstructorCourses)
                    {
                        <div class="card col-10 col-xl-5 border LeftMargin my-3 px-0">
                            <a class="card-block stretched-link text-decoration-none" asp-controller="Instructor" asp-action="CourseAssignmentList" asp-route-courseId="@course.Course.id">
                                <div class="card-header text-black">
                                    <h2>
                                        @course.Course.Department.DeptCode
                                        @course.Course.CourseNumber
                                    </h2>
                                    <h4>
                                        @course.Course.CourseName
                                    </h4>
                                </div>
                                <div class="card-body text-black">
                                    <p>
                                        @course.Course.InstructorCourses[0].User.FirstName
                                        @course.Course.InstructorCourses[0].User.LastName
                                    </p>
                                    <p>
                                        @course.Course.Room.Building.BuildingName
                                        @course.Course.Room.RoomNumber
                                    </p>
                                    <p>
                                        @course.Course.DaysOfWeek
                                        @course.Course.StartTime
                                        @course.Course.EndTime
                                    </p>
                                </div>
                            </a>
                        </div>
                    }
                }
                </div>
            </div>
        <div class="col-10 col-md-4 justify-content-center sideborderleft">
            <h3 class="text-center">ToDo List</h3>
            @foreach (var assignment in Model.StudentAssignment)
            {
                // verify assignment is not past it's due date
                if (assignment.Assignment.DueDate >= localDate)
                {
                    <a class="card-block stretched-link text-decoration-none" asp-controller="User" asp-action="Dashboard">
                        <div class="card border m-3 px-0 text-black">
                            <div class="card-header">
                                @assignment.Assignment.Title
                            </div>
                            <div class="card-body text-black">
                                <p>Course: @assignment.Assignment.Course.CourseName</p>
                                <p>Due Date: @assignment.Assignment.DueDate</p>
                                <p>Max Points: @assignment.Assignment.maxPoints</p>
                            </div>
                        </div>
                    </a>
                    // increment counter, if counter = 5, break to prevent more than 5 assignments
                    counter++;
                    if (counter == 5)
                    {
                        break;
                    }
                }
            }
            @* <h3 class="text-center">Completed Assignments</h3> *@
        </div>
    </div>
</div>

