@model LMSEarlyBird.Models.AppUser
@{
    ViewData["Title"] = "Dashboard";
}


<div class="text-center bottomborder">
    <h1 class="display-4">
        Welcome @Model.FirstName
        @Model.LastName
    </h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-8 sideborderright">
            <div class="row">
                <h3 class="text-center"> Classes </h3>
                @if (User.IsInRole(LMSEarlyBird.Data.UserRoles.Student))
                {
                    @foreach (var course in Model.StudentCourses)
                    {
                        <div class="card col-10 col-xl-5 border LeftMargin my-3 px-0">
                            <a class="card-block stretched-link text-decoration-none" asp-area="" asp-controller="User" asp-action="Dashboard">
                                <div class="card-header text-black">
                                    <h2>
                                        @course.Course.Department.DeptCode
                                        @course.Course.CourseNumber
                                    </h2>
                                    <h4>
                                        @course.Course.CourseName
                                    </h4>
                                </div>
                                <div class="card-body text-black">
                                    <p>
                                        @course.Course.InstructorCourses[0].User.FirstName
                                        @course.Course.InstructorCourses[0].User.LastName
                                    </p>
                                    <p>
                                        @course.Course.Room.Building.BuildingName
                                        @course.Course.Room.RoomNumber
                                    </p>
                                    <p>
                                        @course.Course.DaysOfWeek
                                        @course.Course.StartTime
                                        @course.Course.EndTime
                                    </p>
                                </div>
                            </a>
                        </div>
                    }
                }
                else if (User.IsInRole(LMSEarlyBird.Data.UserRoles.Teacher))
                {
                    @foreach (var course in Model.InstructorCourses)
                    {
                        <div class="card col-10 col-md-5 border mx-5 my-3 px-0">
                            <a class="card-block stretched-link text-decoration-none" asp-controller="Instructor" asp-action="CourseAssignmentList" asp-route-courseId="@course.Course.id">
                                @* asp-area="" asp-controller="User" asp-action="Dashboard"> *@
                                <div class="card-header text-black">
                                    <h2>
                                        @course.Course.Department.DeptCode
                                        @course.Course.CourseNumber
                                    </h2>
                                    <h4>
                                        @course.Course.CourseName
                                    </h4>
                                </div>
                                <div class="card-body text-black">
                                    <p>
                                        @course.Course.InstructorCourses[0].User.FirstName
                                        @course.Course.InstructorCourses[0].User.LastName
                                    </p>
                                    <p>
                                        @course.Course.Room.Building.BuildingName
                                        @course.Course.Room.RoomNumber
                                    </p>
                                    <p>
                                        @course.Course.DaysOfWeek
                                        @course.Course.StartTime
                                        @course.Course.EndTime
                                    </p>
                                </div>
                            </a>
                        </div>
                    }
                }
                </div>
            </div>
        <div class="col-10 col-md-4 justify-content-center sideborderleft">
            <h3 class="text-center">ToDo List</h3>
            @for (int i = 0; i < 4; i++)
            {
                <div class="card border m-3 px-0">
                    <div class="card-header">
                        An Assignment
                    </div>
                    <div class="card-body">
                        <p>Class Name</p>
                        <p>Due Date</p>
                        <p>Points: SomeNumber</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

